
<h1>Creatodon Folio 作品一覧</h1>

<table>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag(book.picture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @books %>

<br>
<% if user_signed_in? %>
  <%= link_to '作品投稿', new_book_path %>
<% end %>