<!DOCTYPE html>
<html>
  <head>
    <title>Creatodon Folio</title>
  <%= render 'layouts/def'%>
  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
