<!DOCTYPE html>
<html>
  <head>
    <title>Creatodon Folio</title>
  <%= render 'layouts/def'%>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>
  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
  </body>
</html>
